.dashboardHead {
    margin: 10px 10px;
    background: rgba(54, 54, 54, .3);
    border-radius: 15px;
}

h3 {
    font-family: 'Neucha', cursive;
    margin-bottom: 10px;
}
/*============================================*/

.dashboardMain {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

.dashboardChild {
    margin: 0 10px;
    height: 100%;
}
/*============================================*/

.dashboardLiner {
    width: 410px;
    background: rgba(54, 54, 54, .3);
    border-radius: 15px;
    font-family: 'Neucha', cursive;
}

.spaceInfo {
    display: flex;
    justify-content: space-between;
    font-size: 11px;

}

.useInfo {
    display: flex;
    justify-content: center;
}

/*-----------------*/
.dashboardInfo {
    width: 410px;
    display: flex;
    justify-content: space-between;
    font-family: 'Neucha', cursive;
}

.userAndReport {
    display: flex;
    flex-direction: column;
    width: 200px;
    background: rgba(54, 54, 54, .3);
    border-radius: 15px;
}


.userAndReportInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userAndReportInfo p {
    font-size: 40px;
    margin: 0;
}

/*============================================*/
.dashboardBottom {
    width: 410px;
    background: rgba(54, 54, 54, .3);
    border-radius: 15px;
    font-family: 'Neucha', cursive;
}


.emptyList {
    display: flex;
    justify-content: center;
}
/*-----------------*/

.infoChild {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    height: 100%;
}

.textInfo {
    display: flex;
    flex-direction: column;
    flex:1;
    align-items: center;
    justify-content: center;
}

.useInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*============================================*/