.reportBody {
    display: flex;
    flex-direction: column;
    flex:1;
}
/*============================================*/
.reportPanel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
    padding: 10px;
    background: rgba(54, 54, 54, .3);
    border-radius: 15px;

}

.reportFilter{
    display: flex;
    flex-direction: column;
    width: 720px;
}

.filterName{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterName h1 {
    margin: 0;
    font-family: 'Neucha', cursive;
}

.selectFilter{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
/*-------*/
.reportExport{
    display: flex;
    flex-direction: column;
    width: 90px;
}




/*============================================*/
.reportList{
    width: 810px;
    margin: 10px 10px;
    padding: 10px;
    background: rgba(54, 54, 54, .3);
    border-radius: 15px;
}

.reportInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    font-family: 'Neucha', cursive;
    font-size: 20px;

}