.reportBody {
    display: flex;
    flex-direction: column;
    flex:1;
}
/*============================================*/
.reportPanel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
    padding: 10px;
    background: rgba(54, 54, 54, .3);
    border-radius: 15px;
}

.reportFilter{
    display: flex;
    flex-direction: column;
    width: 720px;
}

.filterName{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterName h1 {
    margin: 0;
    font-family: 'Neucha', cursive;
}

.selectFilter{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
/*-------*/
.reportExport{
    display: flex;
    flex-direction: column;
    width: 90px;
}

/*============================================*/
.reportList{
    width: 810px;
    margin: 10px 10px;
    padding: 10px;
    background: rgba(54, 54, 54, .3);
    border-radius: 15px;
}

.reportInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    font-family: 'Neucha', cursive;
    font-size: 20px;
}

.sumReport {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-family: 'Neucha', cursive;
    font-size: 20px;
}
/*============================================*/
.dialogBody{
    display: flex;
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    background-color:rgba(204, 204, 204, 0.4)
}

.dialogImage{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-right: 1px solid rgba(204, 204, 204, 0.8);
}

.dialogImage a img {
    width: 300px;
    height: 195px;
}

.dialogImage a img:hover {
    margin-bottom: 5px;
    box-shadow: 5px 5px 5px #000;
}

.dialogReportInfo{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.dialogReportInfo h4 {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Neucha', cursive;
}

.dialogReportButton {
    display: flex;
    justify-content: flex-end;
}